
<h3>Home</h3>

<%= form_tag('/search', method: :post) do %>

  <%= render 'shared/error_messages' %>

  <%= text_field_tag 'query' %>

  <%= submit_tag 'Search' %>  

<% end %>

<%= link_to "Browse groups", "/search" %> &raquo; <br /> <br />

Featured groups

<ul class="groups">
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.name, "/groups/#{group.id}/#{group.name.parameterize}" %>
    </li>
  <% end %>
</ul>


Browse our categories

<ul>
<li><a href="#">Entertainment</a></li>
<li><a href="#">Sports</a></li>
<li><a href="#">Politics</a></li>
<li><a href="#">Movies</a></li>
<li><a href="#">TV Series</a></li>

</ul>
