<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @tweet.subject_id %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @tweet.tweet %>
</p>

<p>
  <strong>Created:</strong>
  <%= @tweet.created %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @tweet.photo %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
