<h3><%= @group.name %></h3>
<p>Description: <%= @group.description %></p>
<p>Category: <%= @group.category %></p>

<%= link_to "Members", "/groups/#{@group.id}/#{@group.name.parameterize}" %> &sdot;
<%= link_to "Tweets", "/groups/#{@group.id}/#{@group.name.parameterize}/tweets" %> &sdot;
<%= link_to "Photos", "/groups/#{@group.id}/#{@group.name.parameterize}/photos" %>

<hr />

<p><b>Tweets</b></p>

<%= will_paginate @tweets %>

<ul class="tweets">
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.subject.name %> : <%= tweet.text %>
    </li>
  <% end %>
</ul>

<%= will_paginate @tweets %>
