<h1>Listing insta</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Created</th>
      <th>Photo</th>
      <th>Caption</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @insta.each do |instum| %>
      <tr>
        <td><%= instum.subject_id %></td>
        <td><%= instum.created %></td>
        <td><%= instum.photo %></td>
        <td><%= instum.caption %></td>
        <td><%= link_to 'Show', instum %></td>
        <td><%= link_to 'Edit', edit_instum_path(instum) %></td>
        <td><%= link_to 'Destroy', instum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instum', new_instum_path %>
