<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @instum.subject_id %>
</p>

<p>
  <strong>Created:</strong>
  <%= @instum.created %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @instum.photo %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @instum.caption %>
</p>

<%= link_to 'Edit', edit_instum_path(@instum) %> |
<%= link_to 'Back', insta_path %>
